.book-details-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
}

.book-details-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Book Antiqua", serif;
}

.book-details-image {
  display: block;
  max-width: 200px;
  margin: 0.5rem auto 1rem;
}

.book-details-author,
.book-details-description {
  margin: 0.5rem 0;
  font-style: italic;
  color: #7c6e52;
  margin-bottom: 1rem;
}
