.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dacac4;
  padding: 1rem 2rem;

  .header-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;

    .header-logo-image {
      height: 40px;
      margin-right: 0.5rem;
    }

    .header-title {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .auth-buttons {
    display: flex;
    gap: 1rem;

    .auth-btn {
      background-color: #dbc39a;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      font-family: inherit;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: #f7c9b6;
      }
    }
  }
}
